@import url("https://fonts.googleapis.com/css?family=Pacifico|Poppins|BenchNine");

$background: #dcfdfb;
$lightblue: #9BD1E5;
$medblue: #6A8EAE;
$lightgreen: #57A773;
$medgreen: #157145;
$font: 'Poppins', sans-serif; 
$formfont: 'BenchNine', sans-serif;

body {
	box-sizing: border-box;
	font-family: $font;
	background-color: $background;
	margin: 0;
}

a {
	list-style-type: none;
	text-decoration: none;
}

::-webkit-input-placeholder {
   color: $lightblue;
	 font-family: $formfont;
}

:-moz-placeholder { /* Firefox 18- */
   color: $lightblue;
   font-family: $formfont;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $lightblue; 
   font-family: $formfont;
}

:-ms-input-placeholder {  
   color: $lightblue; 
   font-family: $formfont; 
}

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
}

// NAV

.navbar {
	background-color: $medblue;
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0px 2px 12px 0px black;
	z-index: 3;


.right-links {
	margin-right: 15px;
}
	.link {
		@include prefix(transition, (color .2s), webkit ms moz o);
		float: right;
		display: inline-block;
		color: #fff;
		padding: 16px 20px 6px 10px;
		text-align: center;
		text-shadow: 0px 0px 4px black;
		&:hover {
			color: $lightblue;
		}
		cursor: pointer;
	}

	.link-icon {
		padding-top: 14px;
	}

	#home {
		float: left;
		padding: 15px 0 0 20px;
	}
	.greeting {
		cursor: default;
		padding-top: 20px;
		&:hover {
			color: #fff;
		}
	}
}

// HEADERS

.main, .chart-holder {
	margin-top: 50px;
	text-align: center;
	.title {
		margin: 75px 0 0 0;
		font-size: 6em;
		color: #FFF;
		text-shadow: 0px 0px 6px black;
	}
	.subtitle {
		margin: 0 0 65px 0;
		color: #FFF;
		text-shadow: 0px 0px 12px black;
		padding-top: 5px;
		font-size: 1.5em;
	}
}

.jumbotron {
	height: 500px;
	margin: -25px 0px 100px 0px;
	background-image: url('../assetts/img/doors.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 12px 8px black;
	background-position: 50% 50%;
	.title {
		padding-top: 150px;
	}
	.title::after {
		content: '';
		width: 500px;
		height: 3px;
		display: block;
		background-color: #FFF;
		position: relative;
		top: -30px;
		margin: 0 auto;
	}
	.title::first-letter {
		color: #9BD1E5;
	}
	.n {
		color: #57A773;
	}
}

.user-main .title {
	margin-bottom: -15px;
}

// POLL LINKS

.poll-list {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a {
		height: 150px;
	}
	.poll-link {
		height: 150px;
		width: 250px;
		margin: 3px;
		box-shadow: 0px 0px 1px black;
		color: white;
		@include prefix(transition, (transform .2s, box-shadow .3s), webkit ms moz o);
		background: url('../assetts/img/survey.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		box-shadow: inset 0px 0px 12px black;
		&:hover {
			transform: scale(1.2);
			z-index: 1;
			box-shadow: 0px 0px 6px black;
		}

		&:hover h3 {
				white-space: normal;
				overflow: auto;
			}

		h3 {
			padding: 25px 3px 3px 0px;
			text-shadow: 0px 2px 3px black;
			margin: 0 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 250px;
			white-space: nowrap;
		}
	}
}

// CHART

.chart-holder {
	margin: 100px auto;
	max-width: 600px;
	.title {
		font-size: 2.5em;
		margin-bottom: 10px;
		line-height: 47px;
	}
	.choices-container {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		div {
			display: block;
		}
		.choice {
			margin: 0 10px 0 10px;
	    background: none;
	    border: 2px solid $medgreen;
	    height: 40px;
	    color: $medgreen;
	    border-radius: 16px;
	    font-family: $font;
	    font-weight: bold;
	    font-size: 18px;
	    cursor: pointer;
	    padding: 0 24px;
	    @include prefix(transition, (transform .3s, background-color .3s, color .3s), webkit ms moz o);
	    &:focus {
	    	outline: 0;
	    }
	    &:hover {
	    	background-color: $medgreen;
	    	color: $background;
	    	transform: rotate(10deg);
	    }

		}
	}
}

.add-option-container {
	font-size: 20px;
	margin-top: 35px;
	text-align: center;
	input {
		width: 145px;
		font-family: $font;
		font-size: 18px;
		border: 2px solid $medgreen;
		border-radius: 8px;
		color: $medgreen;
	}
}

.login-link {
	color: $medblue;
}

.user-polls {
	margin-top: 50px;
}

/* LOGIN/REGISTER USER */

.login-user {
	margin: 100px auto 0 auto;
  padding: 0 5px 35px 5px;
  text-align: center;
  border: 5px solid #6A8EAE;
  border-radius: 60px;
  max-width: 320px;
  box-shadow: 0px 0px 12px #686c66;
  background-color: #fff;
  font-family: $formfont;
  .login-form {
  	margin-top: 35px;
  }
  h2 {
  	margin-bottom: -15px;
  }
  .form-element {
  	margin-top:15px;
  	.form-error-message {
    	display: block;
    	margin-top: 5px;
    	font-size: 14px;
    	color: #ec4d4d;
    }
  }
}

.form-input {
	font-size: 20px;
  width: 200px;
  height: 45px;
  border: none;
  border-bottom: 1.5px solid $medgreen;
  background-color: transparent;
  text-align: center;
  margin-top: 15px;
  font-family: $formfont;
  &:focus {
  	outline: none;
  }
}

.login-user button, .add-option-container button {
	cursor: pointer;
  margin: 18px 0 10px 0;
  width: 75px;
  border-radius: 20px;
  background-color: white;
  height: 50px;
  border: 2px solid $medblue;
  color: $medblue;
  &:hover {
  	background-color: $medblue;
  	color: white;
  }
  &:focus {
  	outline: none;
  }
}

.login-user button {
	@include prefix(transition, (width .3s, background-color .3s, color .3s), webkit ms moz o); 
  &:hover {
  	width: 150px;
  	background-color: $medblue;
  	color: white;
  }
  &:focus {
  	outline: none;
  }
}

.add-option-container button {
	color: $medgreen;
	border-color: $medgreen;
	font-weight: bold;
	width: 250px;
	@include prefix(transition, (background-color .3s, color .3s), webkit ms moz o); 
	font-family: $font;
	display: block;
	margin: 15px auto;
	background-color: transparent;
	&:hover {
		color: $background;
		background-color: $medgreen;
	}
}

.loading {
	color: #57A773;
	animation: spin 1s linear infinite;
}


/* ANIMATIONS */

.fade-appear {
	opacity: 0.01;
	@include prefix(transition, (opacity 2500ms), webkit ms moz o);
}
.fade-appear.fade-appear-active {
	opacity: 1;
}

.slide-appear {
	padding-left: 150px;
	@include prefix(transition, (padding 2500ms), webkit ms moz o);
}
.slide-appear.slide-appear-active {
	padding-left: 0px;
}

.jumbotron .slideUp-appear {
	padding-top: 75px;
	opacity: 0;
	@include prefix(transition, (opacity 4000ms, padding 4000ms), webkit ms moz o);
}

.jumbotron .slideUp-appear.slideUp-appear-active {
	padding-top: 5px;
	opacity: 1;
}

@keyframes spin {
	100% { transform: rotate(360deg); }
}

@keyframes slideUp {
	0% { margin-top: 50px; }
	100% { margin-top: 0px;}
}